body {
    font-family: sans-serif;
}

.contenedor1{
    padding: 30px;
    background-color: red;
    margin-bottom: 15px;
}

.contenedor2{
    padding: 30px;
    background-color: blue;
    margin-bottom: 15px;
}

#contenedor3{
    background-color: green;
}
